.header{
  position:relative;
  height: 100px;
  vertical-align: middle;
  background: white;
}

.header img{
  height:40%;
  width:40%;
}

#logo{
 float: left;
 margin-left: 30px;
 padding-top: 30px;
}



#menu{
 float: right;
 margin-right: 30px;
 padding-top:30px;
}



.splash{
position: relative;
background: black;
}

#image-splash{
  width:100%;
  height: auto;
  /*position: absolute;*/
  opacity: 0.7;
}
